/* GLOBAL BACKGROUND */
.root {
    -fx-background-color: #000000;
    -fx-font-family: "JetBrains Mono";
}

.anchor-pane {
    -fx-background-color: #000000;
}

.titled-pane > .content {
    -fx-background-color: #000000;
}

/* ===== TERMINAL ===== */
#terminal {
    -fx-control-inner-background: #000000;
    -fx-background-color: #000000;
    -fx-text-fill: #00FF41;
    -fx-font-family: "JetBrains Mono";
    -fx-border-color: #00FF41;
    -fx-border-width: 1px;
}

#terminalEntry {
    -fx-background-color: #000000;
    -fx-text-fill: #00FF41;
    -fx-font-family: "JetBrains Mono";
    -fx-border-color: #00FF41;
}

/* ===== LABELS ===== */
.label {
    -fx-text-fill: #00FF41;
    -fx-font-family: "JetBrains Mono";
}

.task-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.task-label-glow {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #00FF41;

    -fx-effect: dropshadow(gaussian, rgba(0,255,65,0.9), 22, 0.6, 0, 0);
}



/* ===== BUTTONS ===== */
.button {
    -fx-background-color: #00CC33;
    -fx-text-fill: #000000;
    -fx-font-family: "JetBrains Mono";
}

/* ===== TEXT FIELDS ===== */
.text-field {
    -fx-background-color: #000000;
    -fx-text-fill: #00FF41;
    -fx-font-family: "JetBrains Mono";
    -fx-border-color: #00FF41;
    -fx-border-width: 1px;
}

/* ===== TABS ===== */
.tab-pane {
    -fx-background-color: #000000;
}

.tab {
    -fx-background-color: #000000;
}

.tab:selected {
    -fx-background-color: #00FF41;
}

.tab .tab-label {
    -fx-text-fill: #00FF41;
    -fx-font-family: "JetBrains Mono";
}

.tab:selected .tab-label {
    -fx-text-fill: #000000;
}


.task-background {
    -fx-background-image: url("Images/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}





